* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  color-scheme: light dark;
}

body {
  font-size: 1.6rem;
  font-weight: 400;
  font-family: Roboto, Arial, sans-serif;
  background-color: var(--bg-color) !important;
  color: var(--text-color) !important;
  transition: background-color 0.3s ease, color 0.3s ease;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "FontDefault";
  font-style: normal;
  font-weight: normal;
  src: local("FontDefault"), url("./assets/fonts/Default.woff") format("woff");
}

@font-face {
  font-family: "Champions";
  font-style: normal;
  font-weight: normal;
  src: local("Champions"), url("./assets/fonts/Champions.ttf") format("ttf");
}

@font-face {
  font-family: "PremierLeague";
  font-style: normal;
  font-weight: normal;
  src: local("PremierLeague"), url("./assets/fonts/PremierLeague.woff") format("woff");
}

@font-face {
  font-family: "LaLiga";
  font-style: normal;
  font-weight: normal;
  src: local("LaLiga"), url("./assets/fonts/LaLiga.woff") format("woff");
}

@font-face {
  font-family: "SerieA";
  font-style: normal;
  font-weight: normal;
  src: local("SerieA"), url("./assets/fonts/SerieA.ttf") format("ttf");
}

@font-face {
  font-family: "Ligue1";
  font-style: normal;
  font-weight: normal;
  src: local("Ligue1"), url("./assets/fonts/Default.woff") format("woff");
}
